<?xml version="1.0"?>
<robot name="ramp">

  <link name="ramp_link">

    <!-- Approximate mass/inertia -->
    <inertial>
      <origin xyz="0.1016 0 0.0254" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.001"/>
    </inertial>

    <!-- Ramp (mesh) -->

    <visual name="ramp_part_1">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp1.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision name="ramp_part_1">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp1.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_2">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp2.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision name="ramp_part_2">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp2.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_3">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp3.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision name="ramp_part_3">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp3.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_4">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp4.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision name="ramp_part_4">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp4.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_5">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp5.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision name="ramp_part_5">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp5.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_6">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp6.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_6">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp6.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_7">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp7.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_7">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp7.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>


    <visual name="ramp_part_8">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp8.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_8">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp8.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_9">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp9.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_9">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp9.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_10">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp10.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_10">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp10.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_11">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp11.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_11">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp11.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_12">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp12.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_12">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp12.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_13">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp13.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_13">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp13.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>

    <visual name="ramp_part_14">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp14.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision name="ramp_part_14">
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="ramp14.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <drake:proximity_properties>
        <drake:point_contact_stiffness value="1e7"/>
      </drake:proximity_properties>
    </collision>


  </link>

</robot>
