<?xml version="1.0" encoding="utf-8"?>

<robot name="support">
    <link name="support">
        <inertial>
            <mass value="2"/>
            <inertia
                    ixx="0.013"
                    ixy="0"
                    ixz="0"
                    iyy="0.013"
                    iyz="0"
                    izz="0.013"/>
        </inertial>
        <collision name="collision">
            <origin rpy="0 0 0" xyz="0 0 0.0"/>
            <geometry>
                <box size="0.5 0.025 0.45"/>
            </geometry>
            <drake:proximity_properties>
                <drake:rigid_hydroelastic/>
                <drake:mesh_resolution_hint value="100"/>
                <drake:mu_dynamic value="0.05"/>
                <drake:mu_static value="0.05"/>
            </drake:proximity_properties>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.0"/>
            <geometry>
                <box size="0.5 0.025 0.45"/>
            </geometry>
        </visual>
    </link>
</robot>
