<link name="panda_link8">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0.0048"/>
            <mass value="0.5"/>
        </inertial>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.0048"/>
            <geometry>
								<box size="0.1 0.1 0.01"/>
            </geometry>
        </collision>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.0048"/>
            <geometry>
								<box size="0.1 0.1 0.01"/>
            </geometry>
        </visual>
    </link>