__pycache__/
/build/
/.idea/
/cmake-build-debug/
/bazel-*
*.ipynb_checkpoints
*.DS_Store*
attic/multibody/solver_log/
.clwb/
.ijwb
*.csv
/examples/Cassie/saved_trajectories/
/examples/cartpole/epos/libEposCmd.so.6.7.1.0
/examples/cartpole/labjack/liblabjackusb.so.2.6.0
.vscode
