__pycache__/
/build/
/.idea/
/cmake-build-debug/
/bazel-*
*.ipynb_checkpoints
*.DS_Store*
attic/multibody/solver_log/
.clwb/
.ijwb
.vscode
*.csv
/examples/Cassie/saved_trajectories/
*.zip
*.npz
*.npy
*.pth
wandb/

/venv/
