<?xml version="1.0" ?>
<robot name="ee">
  <material name="ee_material">
    <color rgba="0.5 0.5 0.0 1.0"/>
  </material>

  <link name="base_link" />

  <link name="ee">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.057"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="ee_material"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <drake:proximity_properties>
        <drake:mu_static value="1"/>
        <drake:mu_dynamic value="1"/>
      </drake:proximity_properties>
    </collision>
  </link>

  <joint name="ee_motion_x" type="prismatic">
    <parent link="base_link"/>
    <child link="ee"/>
    <axis xyz="1 0 0"/>
  </joint>
  
   <transmission name="ee_to_base_trans_x"
    type="SimpleTransmission">
    <actuator name="ee_to_base_act_x"/>
    <joint name="ee_motion_x"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>
</robot>
