<?xml version="1.0" encoding="utf-8"?>
<!-- NOTE:  For use with MPM-based simulation, this file needs to stay in sync
with that located at:
  mpm_drake/drake/examples/multibody/deformable/models/platform.urdf
-->
<!-- Directly ported over with minimal edits from dairlib at:
https://github.com/DAIRLab/dairlib/blob/bibit/deform/examples/sampling_c3/urdf/platform.urdf
-->
<!-- Models the wooden and aluminium sheet on which the franka is mounted. -->

<robot name="platform">
  <link name="platform">
     <visual>
        <origin xyz="-0.07 0 0" />
        <geometry>
           <box size="0.3 0.6 0.029"/>
        </geometry>
     </visual>
     <collision>
        <origin xyz="-0.07 0 0" />
        <geometry>
           <box size="0.3 0.6 0.029"/>
        </geometry>
     </collision>
  </link>
</robot>
