<!DOCTYPE html>
<html>
<head>
    <title>Object Visibility Control</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/read_json">
        <!-- Add a file input field for JSON file upload -->
        <input type="file" name="json_file" accept=".json">
        <!-- Use the submit type to trigger the action /read_json associated with the read_json functioon in the python program -->
        <input type="submit" value="Upload and Read JSON"> 
    </form>
    
</body>
</html>
