<?xml version="1.0" encoding="utf-8"?>
  <!-- This models the wooden block and aluminium sheet over which the franka is
        mounted. We do not consider this for collisions. -->

<robot name="platform">
  <!-- Visual box to show the offset that connect franka to ground (table) -->
  <link name="platform">
     <visual>
        <origin xyz="0 0 0" />
        <geometry>
           <box size="0.3 0.3 0.029"/>
        </geometry>
     </visual>
  </link>
</robot>