<?xml version="1.0" encoding="utf-8"?>

<robot name="ground">
  <link name="ground">
   <inertial>
      <mass value="1"/>
      <!-- Inertia values were calculated to be consistent with the mass and
           geometry size, assuming a uniform density. -->
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
   </inertial>
   <visual>
      <geometry>
        <box size="5 5 0.1"/>
      </geometry>
   </visual>
   <collision name="ground">
      <geometry>
        <box size="5 5 0.1"/>
      </geometry>
        <drake:proximity_properties>
        <drake:mu_static value="1"/>
        <drake:mu_dynamic value="1"/>
      </drake:proximity_properties>
   </collision>
   <contact>
            <lateral_friction value="0.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="0.0"/>
   </contact>
  </link>

  <drake:collision_filter_group name="ground_group">
  <drake:member link="ground"/>
  <drake:ignored_collision_filter_group name="ground_group"/>
  </drake:collision_filter_group>
</robot>