<?xml version="1.0"?>
<robot name="sovol_sv08_simple_bed">

  <!--
    Base:

    Overall printer size from online specs:
    X = 0.55 m
    Y = 0.537 m
    Z = 0.575 m
  -->
  <link name="ground">
    <inertial>
      <origin xyz="0.175 0.175 -0.1" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia
        ixx="0.02" ixy="0.0" ixz="0.0"
        iyy="0.02" iyz="0.0"
        izz="0.02"/>
    </inertial>
    <visual>
      <origin xyz="0.175 0.175 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.355 0.355 0.2"/>
      </geometry>
      <material name="black">
        <color rgba="0.15 0.15 0.15 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.175 0.175 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.355 0.355 0.2"/>
      </geometry>
    </collision>
  </link>

</robot>