<?xml version="1.0"?>
<robot name="corexy_printer">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="examples/sampling_c3/urdf/3d_Printer/stationary_assembly.obj"/>
      </geometry>
    </visual>
  </link>

  <link name="z_gantry">
    <visual>
      <geometry>
        <mesh filename="examples/sampling_c3/urdf/3d_Printer/z_gantry_assembly.obj"/>
      </geometry>
    </visual>
  </link>

  <joint name="z_axis" type="prismatic">
    <parent link="base_link"/>
    <child link="z_gantry"/>
    <origin xyz="0.0 0.03703 0.052" rpy="0.0 0.0 0.0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.35" effort="1000" velocity="0.2"/>
  </joint>

  <link name="xy_gantry">
    <visual>
      <geometry>
        <mesh filename="examples/sampling_c3/urdf/3d_Printer/y_gantry_assembly.obj"/>
      </geometry>
    </visual>
  </link>

  <joint name="y_axis" type="prismatic">
    <parent link="z_gantry"/>
    <child link="xy_gantry"/>
    <origin xyz="0.0 -0.1512 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.35" effort="500" velocity="1.0"/>
  </joint>

  <link name="toolhead">
    <visual>
      <geometry>
        <mesh filename="examples/sampling_c3/urdf/3d_Printer/toolhead_assembly.obj"/>
      </geometry>
    </visual>
  </link>

  <joint name="x_axis" type="prismatic">
    <parent link="xy_gantry"/>
    <child link="toolhead"/>
    <origin xyz="-0.3522 -0.01983 -0.3528" rpy="0.0 0.0 0.0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.35" effort="500" velocity="1.0"/>
  </joint>

</robot>