<?xml version="1.0"?>
<robot name="ee">

  <link name="ee_link">
     <!-- Inertial properties are required for the end effector to be included in the
          simulation. The values here are placeholders and should be updated to
          reflect the actual mass and inertia of the end effector. -->

    <!-- Visual -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///mnt/data0/three_d_printer/dairlib/examples/sampling_c3/urdf/3d_Printer/EE.obj"
              scale="1 1 1"/>
      </geometry>
    </visual>

    <!-- Collision -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///mnt/data0/three_d_printer/dairlib/examples/sampling_c3/urdf/3d_Printer/EE.obj"
              scale="1 1 1"/>
      </geometry>
    </collision>

    <!-- Required inertial block -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
               iyy="0.01" iyz="0.0"
               izz="0.01"/>
    </inertial>

  </link>

</robot>