<?xml version="1.0" ?>
<!-- Frames all align with the Franka's origin at configuration = 0. -->
  
<robot name="ball">
  <material name="finger_0_material">
    <color rgba="0.6 0.0 0.0 1.0"/>
  </material>

  <link name="ball">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.001"/>
      <inertia
        ixx="0.000001"
        iyy="0.000001"
        izz="0.000001"
        ixy="0" ixz="0" iyz="0"/>
    </inertial>
    
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0195"/>
      </geometry>
      <material name="finger_0_material"/>
    </visual>
    
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0195"/>
      </geometry>
      <drake:proximity_properties>
        <drake:mu_static value="0.3"/>
        <drake:mu_dynamic value="0.3"/>
        <drake:restitution value="0.7"/>
      </drake:proximity_properties>
    </collision>
  </link>
</robot>

