<?xml version="1.0" encoding="utf-8"?>
<!-- Models the table, upon which the platform is mounted, upon which the Franka
     is mounted. -->

<robot name="ground">
  <link name="ground">
    <inertial>
      <mass value="1"/>
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.05" />
      <geometry>
        <box size="2 0.91 0.1"/>
      </geometry>
      <material>
        <color rgba="0.5 0.5 0.5 0.9"/>
      </material>
    </visual>
    <!--<collision name="ground">
    <origin xyz="0 0 -0.05" />
    <geometry>
      <box size="5 0.91 0.1"/>
    </geometry>
    <drake:proximity_properties xmlns:drake="uri:drake">
      <drake:compliant_hydroelastic/>
      <drake:hydroelastic_modulus value="1e8"/>
      <drake:mesh_resolution_hint value="0.05"/>
      <drake:mu_static value="0.3"/>
      <drake:mu_dynamic value="0.3"/>
    </drake:proximity_properties>

    </collision>-->

    <collision name="ground">
      <origin xyz="0 0 -0.05" />
      <geometry>
        <box size="5 0.91 0.1"/>
      </geometry>
        <drake:proximity_properties>
        <drake:mu_static value="1"/>
        <drake:mu_dynamic value="1"/>
      </drake:proximity_properties>
    </collision>

    <contact>
      <lateral_friction value="0.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="0.0"/>
    </contact>
  </link>

  <drake:collision_filter_group name="ground_group">
  <drake:member link="ground"/>
  <drake:ignored_collision_filter_group name="ground_group"/>
  </drake:collision_filter_group>
</robot>
