<?xml version="1.0"?>
<!-- Frames all align with the Franka's origin at configuration = 0. -->
<!-- We model a belt element as a cylinder -->

<robot name="belt_element">
  <material name="belt_element_material">
    <color rgba="0.0 0.6 0.0 1.0" />
  </material>
  <link name="belt_element">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder radius="0.003" length="0.006" />
      </geometry>
      <material name="belt_element_material" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <cylinder radius="0.003" length="0.006" />
      </geometry>
      <drake:proximity_properties>
        <drake:mu_static value="1" />
        <drake:mu_dynamic value="1" />
      </drake:proximity_properties>
    </collision>
  </link>
</robot>
