<?xml version="1.0" ?>
<robot name="cube_v2">
    <link name="cube">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.01"/>
            <inertia ixx="0.00006619" ixy="0" ixz="0" iyy="0.00006619" iyz="0" izz="0.00006619"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="cube_v2.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.065 0.065 0.065"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>

        <!-- Add 8 small circles at 8 corners of the cube to ensure stability of contact solver -->
        <collision>
            <origin xyz="-0.0326 -0.0326 -0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="-0.0326 -0.0326 0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="-0.0326 0.0326 -0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="-0.0326 0.0326 0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="0.0326 -0.0326 -0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="0.0326 -0.0326 0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="0.0326 0.0326 -0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
        <collision>
            <origin xyz="0.0326 0.0326 0.0326" rpy="0 0 0"/>
            <geometry>
                <sphere radius="1e-7"/>
            </geometry>
            <drake:proximity_properties>
                <drake:mu_static value="0.3"/>
                <drake:mu_dynamic value="0.3"/>
            </drake:proximity_properties>
        </collision>
    </link>
</robot>
