<robot name="cube">
    <link name="cube_base">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.37"/>
            <inertia
                ixx="0.006167"
                ixy="0"
                ixz="0"
                iyy="0.006167"
                iyz="0"
                izz="0.006167"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <material name="pennred">
                <color rgba="0.6 0 0 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
    </link>
</robot>