<robot name="cube">
    <link name="cube_base">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.37"/>
            <inertia
                    ixx="0.00081"
                    ixy="0"
                    ixz="0"
                    iyy="0.00081"
                    iyz="0"
                    izz="0.00081"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1048 0.1048 0.1048"/>
            </geometry>
            <material name="pennred">
                <color rgba="0.6 0 0 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.1048 0.1048 0.1048"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
    </link>
    <link name="blue_cube">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.37"/>
            <inertia
                ixx="0.00081"
                ixy="0"
                ixz="0"
                iyy="0.00081"
                iyz="0"
                izz="0.00081"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1048 0.1048 0.1048"/>
            </geometry>
            <material name="pennblue">
                <color rgba="0 0 0.6 0.4" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.1048 0.1048 0.1048"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
    </link>
</robot>