<?xml version="1.0" ?>
<!-- This urdf is used to feed into the meshcat visualizer to visualize the sample locations for sampling based mpc -->
<robot name="end_effector">
    <link name="end_effector">
   <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0153"/>
      <mass value="0.057"/>
      <interia ixx="0.0" iyy="0.0" izz="0.0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0153"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
            <material>
    <!-- <color rgba="1 0.75 0.79 1"/> blue transparent color for visualization -->
    <color rgba="0 0.4 0.4 1"/> <!-- cyan color for visualization -->
    </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0153"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
    
</robot>
