<robot name="terrain">
  <link name="base">
    <inertial>
<!--      <origin-->
<!--        xyz="0.5 0.0 0.0"-->
<!--      />-->
      <mass value="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.5 1.0 0.01"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
      <origin xyz="0.30 0 -0.005" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.5 1.0 0.01"/>
      </geometry>
      <origin xyz="0.30 0 -0.005" rpy="0 0 0"/>
    </collision>
  </link>
</robot>
