<?xml version="1.0"?>
<!--
  Keep-out regions for cone demo, goal 2:  when the cone goes from the base of
  the ramp all the way up to the top.
-->
<robot xmlns:drake="http://drake.mit.edu" name="keep_out">

  <!-- Must keep this as the base link (do not change name): -->
  <link name="keep_out_base">
  </link>

  <!-- Keep-out 1:  prevent low EE samples. -->
  <link name="keep_out_1">
    <visual>
      <origin xyz="0.175 0.175 0.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.35 0.35 0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.175 0.175 0.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.35 0.35 0.03"/>
      </geometry>
    </collision>
  </link>

  <joint name="keep_out_1_joint" type="fixed">
    <parent link="keep_out_base"/>
    <child link="keep_out_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
